version: "3.8"

services:
  # -----------------------------
  # MYSQL DATABASE
  # -----------------------------
  db:
    image: mysql:8
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tasks_db
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"

  # -----------------------------
  # BACKEND (PHP-FPM + Laravel)
  # -----------------------------
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    environment:
      APP_ENV: production
      APP_DEBUG: false
      APP_URL: http://localhost:8000
      APP_NAME: Laravel
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: tasks_db
      DB_USERNAME: user
      DB_PASSWORD: pass
      SESSION_DRIVER: database
      CACHE_DRIVER: database
      QUEUE_CONNECTION: database
    depends_on:
      - db

  # -----------------------------
  # NGINX BACKEND PROXY
  # -----------------------------
  nginx:
    image: nginx:latest
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  # -----------------------------
  # FRONTEND (React build + Nginx)
  # -----------------------------
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react_frontend
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - nginx

volumes:
  db_data:
